/node_modules
/.vscode-test
/bower_components
/typings

/[Bb]in
/[Oo]bj
Thumbs.db
*.obj
*.exe
*.dll
*.pdb
*.user
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.rar
*.lib
*.lib
*.sbr
*.ico
*.tlog
*.sdf
